body {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px;
    background: #18191D;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 5%;
    width: 170px;
}

.button {
    background-color: #9C907F;
    border: none;
    color: #18191D;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #A9A092;
}

.button:active {
    background-color: #83735C;
}

#logo {
    position: absolute;
    display: block;
    z-index: 1;
    top: 4.5%;
    left: 5%;
    width: 260px;
}
